<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>EWF-Dev</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/1576d4f605.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header-nav">
        <div class="logo">
            <a href="/">
                <img src="/images/bba.png" alt="logo EWF-Dev" class="site-icon header-icon">
                <span class="logo-text">EWF-Dev</span></a>
        </div>

        <nav class="nav-links">
            <a href="/">Acceuil</a>
            <a href="/services">Services</a>
            <a href="/contacts" style="    background-color: white;
    color: #021d39;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vw;">Contacts</a>
            <a href="#"><span style="font-size: 1.2em;margin-left: 10px;"> @</span></a>
        </nav>
    </header>
    <section class="hero-section">
        <div class="hero-content">
            <h1>Créons ensemble votre espace digital</h1>
            <p>Developpement web, mobile et de systeme personnel.</p>
            <a href="/services" class="btn-primary">VOIR NOS SERVICES</a>
        </div>

        <div class="hero-content">
            <h1>M.ELAT WILLY FRANCK Specialiste en:</h1>
            <P>$Devloppeur web et mobile<br>
                $Systeme d'infomation et genie logiciel</P>
        </div>
    </section>
    <main class="main-content">
        <div class="card">
            <h2>Créons ensemble votre espace digital</h2>
            <ul>
                <li>Developpement web</li>
                <li>Developpement mobile</li>
                <li>Developpement des systemes personnalisés</li>
            </ul>
            <a href="/services" class="btn-primary">VOIR NOS SERVICES</a>
        </div>
        <div class="card">
            <h2>Nos differents Services</h2>
            <ul>
                <li>Création de votre site web jusqu'à lhébergement</li>
                <li>Développer une applicationpour repondre à vos attentes</li>
                <li>Développer des systemes personnel</li>
            </ul>
        </div>
        <div class="card">
            <h2>Ce que nos clients disent</h2>
            <blockquote style="border-left: 3px solid #ff9900; padding-left: 15px; margin: 15px 0;">
                "Tres satisfaite par le professionnalisme et l'attention portée à nos besoins spécifiques."
                <footer>- Ydriss Nde, ENYJ: <a href="https://www.ENYJ Studio.com">Visitez leur site</a></footer>
            </blockquote>
        </div>
        <div class="card">
            <h2>Ce que nos clients disent</h2>
            <blockquote style="border-left: 3px solid #ff9900; padding-left: 15px; margin: 15px 0;">
                "Services rapide et efficace, avec une excellente comminication tout au long duprojet."
                <footer>- Jules Junior.</footer>
            </blockquote>
        </div>
    </main>
    <footer class="footer-section">
        <div>
            <div class="entete">
                <div>
                    <a href="/">Accueil</a>
                </div>
                <div>
                    <a href="/services">Services</a>
                </div>
                <div>
                    <a href="/contacts">Contacts</a>
                </div>
            </div>
            <div class="footer-section1">
                <div class=" footer-social">
                    <img src="/images/bba.png" alt="logo EWF-Dev ">
                </div>

                <div class=" footer-social">
                    <a href="https://www.facebook.com/willy.elat.37"><i class="fab fa-facebook-f fa-2x"></i></a>
                    <a
                        href="https://wa.me/237654551128?text=Bonjour%2c%20j'aimerais%20en%20savoir-plus%20sur%20vos%20services"><i
                            class="fab fa-whatsapp fa-2x"></i></a>
                    <a href="https://www.instagram.com/wilamo21"><i class="fab fa-instagram fa-2x"></i></a>
                </div>
                <div class=" footer-social">

                    <a href="mailto:williamoelat12@gmail.com"> Email: williamoelat12@gmail.com</a>
                </div>
            </div>
            <div class="fin">
                <p style="margin-top: 40px;">&copy; 2025 EWF-Dev. Tous droits réservés.</p>
            </div>
        </div>
    </footer>

</body>

</html>