body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dad1d1;
}

h1 {

    font-weight: bolder;

}

.logo a {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.header-nav {
    background-color: #021d39;
    color: white;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    vertical-align: middle;
}

.site-icon {
    max-width: 100px;
    height: auto;
}

.header-icon {
    height: 50px;
    vertical-align: middle;
    margin: 0;
}

.logo-text {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle;
}

.footer-icon {
    width: 2%;
    height: 100px;
    margin-bottom: 2px;
    display: block;
    margin-left: auto;
}

.main-content {
    padding: 5px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    flex: 1 1 400px;
    min-width: 300px;
}

.card blockquote footer button {
    font-size: 40px;
}

.footer-section {
    background-color: #021d39;
    color: white;
    padding: 0 0;
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-start;
    gap: 70px;
}

.entete {
    text-decoration: none;
    color: white;
    text-align: center;
    gap: 100px;
    display: flex;
    padding: 0 200px;
    background-color: black;
}

.entete a {
    color: #021d39;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;

}


.footer-section1 {
    background-color: #021d39;
    display: flex;
    gap: 50px;
    padding: 0 10px;
}

.footer-social {
    display: flex;
    padding: 20px;
    vertical-align: middle;
    gap: 100px;
}

.footer-social a {
    font-size: 2.5vw;
}

.footer-social img {
    width: 100px;
    height: 90px;
}

.fin {
    text-align: center;
    font-weight: bold;
}

.footer-links a,
.footer-social a {
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 8px;
    transition: color 0.3s;
}

.entete a:hover,
.footer-social a:hover {
    color: #ff9900;
}

@media (max-width:1000px) {
    .logo a {
        font-size: 2vw;
    }

    .nav-links a {
        font-size: 2vw;
    }


    h1 {
        font-size: 3vw;
        text-align: center;
    }

    .card h2 {
        font-size: 2.5vw;
    }

    .card blockquote {
        font-size: 2.5vw;
    }

    .card footer {
        font-size: 2vw;
    }

    .card blockquote footer button {
        width: 30%;
        font-size: 200%;
    }

    .footer-section {
        gap: 10%;
    }

    .entete a {
        font-size: 2.5vw;
    }

    .footer-social img {
        width: 50%;
        height: 70%;
    }

    .footer-social h4 {
        font-size: 2.5vw;
    }

    .footer-social a {
        font-size: 2.5vw;
    }

    .fin p {
        font-size: 2.5vw;
    }

}