body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dad1d1;
}


.logo a {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.header-nav {
    background-color: #021d39;
    color: white;
    padding: 5px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    vertical-align: middle;
}

.site-icon {
    max-width: 100px;
    height: auto;
}

.header-icon {
    height: 50px;
    vertical-align: middle;
    margin: 0;
}

.logo-text {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle;
}

.footer-icon {
    width: 2%;
    height: 100px;
    margin-bottom: 2px;
    display: block;
    margin-left: auto;
}


.hero-section {
    background-color: #333;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/bbe.png');
    color: white;
    padding: 30px 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 50px;
}

.hero-content {
    max-width: 800px;
    flex: 1;
}

.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

.main-content {
    padding: 5px 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.btn-cont {
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.card {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    flex: 1 1 400px;
    min-width: 300px;
}

.card blockquote footer a {
    border: 1px solid;
    border-radius: 3px;
    background-color: #021d39;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.footer-section {
    background-color: #021d39;
    color: white;
    padding: 0 0;
    margin-top: 40px;
    align-items: flex-start;
    gap: 0;
}

.entete {
    text-decoration: none;
    color: white;
    text-align: center;
    gap: 100px;
    display: flex;
    padding: 0 200px;
    background-color: black;
}

.entete a {
    color: #021d39;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
}


.footer-section1 {
    background-color: #021d39;
    display: flex;
    gap: 50px;
    padding: 0 10px;
}

.footer-social {
    display: flex;
    padding: 20px;
    vertical-align: middle;
    gap: 100px;
}

.footer-social a {
    font-size: 2.5vw;
}

.footer-social img {
    width: 100px;
    height: 90px;
}

.fin {
    background-color: #021d39;
    text-align: center;
    font-weight: bold;
}


.footer-links a,
.footer-social a {
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 8px;
    transition: color 0.3s;
}

.entete a:hover,
.footer-social a:hover {
    color: #ff9900;
}

@media (max-width:1000px) {

    .header-nav {
        gap: 10px;
    }


    .logo a {
        font-size: 2vw;
    }

    .nav-links a {
        font-size: 2vw;
    }

    .hero-content h1 {
        font-size: 2.5vw;
    }

    .hero-content p {
        font-size: 2vw;
    }

    .btn-primary {
        font-size: 2vw;
    }

    .card h2 {
        font-size: 2vw;
    }

    .card ul li {
        font-size: 2.5vw;
    }

    .card a {
        font-size: 2vw;
    }

    .card blockquote {
        font-size: 2.5vw;
    }

    .footer-section {
        gap: 10%;
    }

    .entete a {
        font-size: 2.5vw;
    }

    .footer-social img {
        width: 50%;
        height: 70%;
    }

    .footer-social h4 {
        font-size: 2vw;
    }

    .footer-social a {
        font-size: 2.5vw;
    }

    .fin p {
        font-size: 2.5vw;
    }


}