body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #dad1d1;
}

.logo a {
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}


.header-nav {
    background-color: #021d39;
    color: white;
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    vertical-align: middle;
}

.header-icon {
    height: 50px;
    vertical-align: middle;
    margin: 0;
}

.logo-text {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    vertical-align: middle;
}

.footer-icon {
    width: 2%;
    height: 100px;
    margin-bottom: 2px;
    display: block;
    margin-left: auto;
}

.formulaires {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: flex-start;
    gap: 50px;


}

.formu {
    flex: 1 1 200px;
    margin-bottom: 20px;
    background-color: white;
    padding: 0 10px;
}

.formu input {
    width: 70%;
    height: 35px;
}

.formu.textarea {
    width: 70%;
}

.formu h1 {
    font-size: 2.5vw;
    font-weight: bolder;
    color: white;
    background-color: #021d39;
}

.formu p {
    font-size: 2.5vw;
    font-weight: bolder;
    color: #000;
}

.formu label {
    font-size: 2vw;
    font-weight: bolder;
    color: #000;
}

.formu button {
    font-size: 2vw;
    width: 70%;
    color: white;
    background-color: #021d39;
    border-radius: 1px solid;
    font-weight: bold;
}

.footer-section {
    background-color: #021d39;
    color: white;
    padding: 0 0;
    justify-content: space-between;
    margin-top: 40px;
    align-items: flex-start;
    gap: 70px;
}

.entete {
    text-decoration: none;
    color: white;
    text-align: center;
    gap: 100px;
    display: flex;
    padding: 0 200px;
    background-color: black;
}

.entete a {
    color: #021d39;
    background-color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2vw;
}


.footer-section1 {
    display: flex;
    gap: 50px;
    padding: 5px 10px;
}

.footer-social {
    display: flex;
    padding: 20px;
    vertical-align: middle;
    gap: 100px;
}

.footer-social a {
    font-size: 2.5vw;
}

.footer-social img {
    width: 100px;
    height: 90px;
}

.fin {
    text-align: center;
    font-weight: bold;
}

.footer-links a,
.footer-social a {
    color: white;
    text-decoration: none;
    display: flex;
    margin-bottom: 8px;
    transition: color 0.3s;
}

.entete a:hover,
.footer-social a:hover {
    color: #ff9900;
}

@media (max-width:1000px) {
    .logo a {
        font-size: 2vw;
    }

    .nav-links a {
        font-size: 2vw;
    }

    .formu h1 {
        font-size: 2.5vw;
        text-align: center;
    }

    .formu p {
        font-size: 2.5vw;
    }

    .formu label {
        font-size: 2.5vw;
    }

    .formu img {
        width: 100%;
    }

    .formu input {
        width: 90%;
    }

    .formu textarea {
        width: 90%;
    }

    .formu button {
        font-size: 100%;
        width: 90%;
    }

    .footer-section {
        gap: 10%;
    }

    .entete a {
        font-size: 2.5vw;
    }

    .footer-social img {
        width: 50%;
        height: 70%;
    }

    .footer-social h4 {
        font-size: 2.5vw;
    }

    .footer-social a {
        font-size: 2.5vw;
    }

    .fin p {
        font-size: 2.5vw;
    }
}